@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik+Mono+One&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/rubik-one');


* {
    margin: 0 0;
}

@media (max-width: 767px){

   body {
   overflow-x: hidden;
 }  

    #innerkleur {
      background: white;
     border: 20px solid #922C06;
   }


   img {
    width: 100%;
    height: auto;
 }

   #footerText {
    color: white;
    font-family: Rubik mono One, sans-serif;
    font-size: 10px;
 }
   #namen {
    color: white;
    font-family: Rubik mono One, sans-serif;
    font-size: 10px;
 }

   footer {
    display: flex;
    background-color: #101010;
    align-items: center;
    flex-direction: column;
    padding: 0.8rem;
    padding-bottom: 0.4rem;
    gap: 1vh;
 }
   #footerLogoEnText {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 0.5rem;

 }

   header {
   Background-color: #101010;
   flex-direction: column;
   }

   #headerlogos {

   display: flex;
   gap: 14rem ;
   width: 25%;
   padding-left: 10px;

   
   }

   #footericons > img {

    width: 30px;
   }

   #placeholders {

    display: grid;
    justify-content: center;
    margin: 35px;
   }

   #placeholders > section > label {
    font-size: 17px;
    margin-right: 20px;
    font-family: Rubik mono One, sans-serif;
   }

   #placeholders > section {

    margin-top: 30px;
   }

   #placeholders > .opmerkingen > input {
    
      display: flex;
      height: 75px;

   }

   #placeholders > section > input {

  flex: 1;
  padding: 10px 12px;
  border: 2px solid #ccc;
  border-radius: 8px;
  font-size: 10px;
  transition: all 0.3s ease;

   }

   .reserveimg {
    display: flex;
    justify-self: center;
    margin-top: 30px;
    border-radius: 20px;
    width: 90%;
   }

   .reservebtn {
    display: flex;
    justify-self: right;
    position: relative;
    bottom: 100px;
    margin-right: 65px;
    background-color: #922C06; 
    color: white; 
    border: none; 
    padding: 10px 20px; 
    border-radius: 10px; 
    font-size: 16px; 
    font-weight: bold;
    cursor: pointer; 
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3); 
    transition: all 0.2s ease-in-out;
}


  }

  